.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #aaa5;
  backdrop-filter: blur(1px);
  z-index: 10;

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
  }

  &__nav__logo {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
      width: 60px;
      height: 60px;
      border-radius: 4px;
    }

    span,
    h2 {
      font-size: 28px;
      font-weight: 900;
      line-height: 26px;
      color: orange;
      font-family: "Dancing Script", cursive;
    }
  }

  &__nav__list {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &__nav__close {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background-color: transparent;
    font-size: 30px;
    display: none;
    color: white;
  }

  &__nav__item {
    color: white;
    font-size: 18px;
  }

  .active {
    color: orange;
    font-weight: bold;
  }

  &__nav__btn {
    border: none;
    background-color: transparent;
    font-size: 30px;
    display: none;
    color: white;
  }

  @media (max-width: 1050px) {
    &__nav__list {
      gap: 15px;
    }
  }
  @media (max-width: 975px) {
    &__nav__list {
      position: fixed;
      top: 0;
      left: -100%;
      width: 80%;
      height: 100vh;
      background-color: rgb(48, 48, 109);
      display: flex;
      flex-direction: column;
      justify-content: center;
      transition: 0.7s;
    }

    &__nav__btn {
      display: block;
    }

    &__show {
      left: 0;
    }
    &__nav__close {
      display: block;
    }
  }
}
