.devan {
  background-color: aqua;
  background-image: url(../../assets/images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  &__cards {
    padding-top: 120px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
  &__card {
    padding: 10px;
    background-color: white;
    &__img {
      background-color: #aaa6;
      width: 100%;
      height: 240px;
    }

    &__info {
      &-text {
        font-size: 24px;
        padding: 4px 0px;
      }
    }

    &__btn {
      padding: 8px 20px;
      border-radius: 4px;
      background-color: white;
      font-size: 14px;
      color: orange;
      border: 1px solid orange;
    }
  }
}
